.org-src-container {
    margin: 0.5em 0;
    background-color: #E8E8E8;
    padding-left: 5px;
    font-family: "Source Code Pro", "Source Code Variable", monospace;
    font-size: 1rem;
}

.org-comment, .org-comment-delimiter { color: #65615E; }

.org-whitespace-space-after-tab { color: #FD971F; font-weight: bold; }
.org-whitespace-space-before-tab { background-color: #F20055; }
.org-whitespace-trailing { color: #A75B00; }

.org-preprocessor { color: #C02F2F; }
.org-string { color: #254545; }
.org-function-name { color: #104EE8; font-weight: bold; }
.org-variable-name { color: #353535; }
.org-type { color: #006400; }
.org-keyword { color: #104EE8; font-weight: bold; }
