html {
    font-family: Georgia, "Microsoft Yahei", "WenQuanYi Micro Hei";
    font-size:100%;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
}

body{
    margin:0;
    font-size:18px;
    line-height:24px;
    color:#272822;
    background-color:#F8F8F2;
    overflow-x: hidden;
    text-align: justify;
    margin-bottom: 3em;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
}

.underline {
    text-decoration: underline;
}

a {
    color:#30557c;
    text-decoration: none;
    border-bottom: 1px dashed red;
    padding: 1px;
}
a:hover {
    color:#395b7c;
    background-color: lightskyblue;
}

.todo, .done, .priority {
    font-family: monospace;
    font-size: 80%;
}

.todo {
    color: red;
}

.done {
    color: green;
}

.priority {
    color: olive;
}

.src {
    color: #F8F8F2;
    background: #272822;
    font-family: "Source Code Pro";
}

.tag {
    background-color: #eee;
    font-family: monospace;
    padding: 2px;
    font-size: 80%;
    font-weight: light;
}

.timestamp {
    color: olive;
    font-family: monospace;
    font-size: 80%;
}

.timestamp-kwd {
    color: #5f9ea0;
}

.org-right {
    margin-left: auto;
    margin-right: 0px;
    text-align: right;
}
.org-left {
    margin-left: 0px;
    margin-right: auto;
    text-align: left;
}
.org-center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.org-ul {
    padding-left: 10px;
}
.org-ol {
    padding-left: 20px;
}

ul {
    padding-left: 100px;
}
ol {
    padding-left: 200px;
}

.status, .status a, .status a:hover {
    color: #FFF;
}

#preamble {
    font-size: 28px;
    line-height: 42px;
    font-weight: 200;
    background: #2E435E;
    background: linear-gradient(to top,#2E435E,#172E50);
    border: solid 2px transparent;
    border-bottom-color: #aaa;
    text-align: center;
}

.sitelinks, .sitelinks a {
    font-size: 80%;
    line-height: 30px;
    color: #CCC;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

#preamble a {
    text-decoration: none;
    border-bottom: none;
    background-color: transparent;
}

#preamble a:hover {
    border-bottom: 1px dashed orange;
    text-decoration: none;
}

#content {
    background: #F8F8F2;
    padding-top: 3em;
    max-width: 800px;
    position: relative;
    margin: auto;
}

.copyright {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border: solid 2px transparent;
    border-bottom-color: #aaa;
    text-align: center;
    color: #272822;
    background-color: #999;
    padding: 0em;
}

.disqus {
    position: relative;
    max-width: 800px;
    border: none;
    text-align: center;
    color: #272822;
    background-color: #F8F8F2;
    margin: auto;
}

.copyright a{
    color: #555;
    background-color: lightblue;
    border-bottom: transparent;
    white-space: pre;
}

.copyright a:hover {
    color: #888;
    background-color: lightblue;
    border-bottom: transparent;
}

#disqus_thread {
    margin-top: 2em;
}

.date {
    font-style: italic
}

.post-date {
    margin-top: 2em;
    color: #888;
}

.article-meta {
    margin-left: 2.2em;
    margin-right: 2.2em;
    margin-bottom: 2.2em
}

.footnum {
    font-weight: bold;
}

.footnotes {
    margin-top: 1em;
    font-size: 100%;
}

.footpara {
    display: inline;
}

img{
    max-width:100%;
    height:auto;
    border:0;
    -ms-interpolation-mode:bicubic;
}

textarea {
    overflow: scroll;
    vertical-align: top;
}

a.article-title{
    margin:0;
    font-weight:bold;
    color:#333333;
    text-rendering:optimizelegibility;
    font-size:30px;
    line-height:36px;
}

.row{
    margin-left:-20px;
    *zoom:1;
}.row:before,.row:after{display:table;content:"";}
.row:after{
    clear:both;
}
p{
    margin:12px 0 9px;
    font-family:"Roboto",sans-serif;
    font-size:18px;
    line-height:24px;
}
p small{
    font-size:11px;
    color:#999999;
}
.lead{
    margin-bottom:18px;
    font-size:20px;
    font-weight:200;
    line-height:27px;
}
h1,h2,h3,h4,h5,h6{
    margin:1em -1em 0.3em;
    font-weight:bold;
    color:#333333;
    text-rendering:optimizelegibility;
}
h1 small,h2 small,h3 small,h4 small,h5 small,h6 small{
    font-weight:normal;
    color:#999999;
}
h1{
    font-size:30px;
    line-height:36px;
}
h1 small{
    font-size:18px;
}
h2{
    font-size:24px;
    line-height:36px;
}
h2 small{
    font-size:18px;
}
h3{
    line-height:27px;
    font-size:18px;
}
h3 small{
    font-size:14px;
}
h4,h5,h6{
    line-height:18px;
}
h4{
    font-size:14px;
}
h4 small{
    font-size:12px;
}
h5{
    font-size:12px;
}
h6{
    font-size:11px;
    color:#999999;
    text-transform:uppercase;
}
.page-header{
    padding-bottom:17px;
    margin:18px 0;
    border-bottom:1px solid #eeeeee;
}
.page-header h1{
    line-height:1;
}
ul,ol{
    padding:0;
    margin:0 0 9px 25px;
}
ul ul,ul ol,ol ol,ol ul{
    margin-bottom:0;
}
ul{
    list-style:disc;
}
ol{
    list-style:decimal;
}
li{
    font-size:18px;
    line-height:35px;
}
ul.unstyled{
    margin-left:0;
    list-style:none;
}
dl{
    margin-bottom:18px;
}
dt, dd{
    margin: 0.5em;
    line-height: 100%;
}
dt{
    font-weight:bold;
    margin: 12px 0 2px 0;
}
dd{
    margin-left:9px;
}
hr{
    margin:18px 0;
    border:0;
    border-top:1px solid #e5e5e5;
    border-bottom:1px solid #F8F8F2;
}
strong{
    font-weight:bold;
}
em{
    font-style:italic;
}
.muted{
    color:#999999;
}
abbr{
    font-size:90%;
    text-transform:uppercase;
    border-bottom:1px dotted #ddd;
    cursor:help;
}
blockquote{
    padding:0 0 0 15px;
    margin:0 0 18px;
    border-left:5px solid #eeeeee;
}
blockquote p{
    margin-bottom:0;
    font-size:16px;
    font-weight:300;
    line-height:22.5px;
}
blockquote small{
    display:block;
    line-height:18px;
    color:#999999;
}
blockquote small:before{
    content:'\2014 \00A0';
}
blockquote.pull-right{
    float:right;
    padding-left:0;
    padding-right:15px;
    border-left:0;
    border-right:5px solid #eeeeee;
}
blockquote.pull-right p,blockquote.pull-right small{
    text-align:right;
}
q:before,q:after,blockquote:before,blockquote:after{
    content:"";
}

code {
    background: #F8F8F2;
    color: #444;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 15px;
    line-height: 18px;
    padding: 2px;
}

pre {
    background: #272822;
    color: #444;
    font-family: 'Ubuntu Mono', monospace;
    padding: 4px;
    padding-left: 6px;
    overflow: auto;
}

.comment {
    color: #93a1a1;
    font-style: italic;
}
