#content {
    background: #F8F8F2;
    position: relative;
    margin: auto;
}

body {
    font-family: 'Fira Sans', sans-serif;
    font-size: 12pt;
    background-color: #F8F8F2;
    color: #272822;
}

.title {
    padding: 24px 0 24px 20%;
    background-color: #23373b;
    color: #fafafa;
    margin: 0 0 1em 0;
}

hr.full {
    display: block;
    height: 1px;
    border: 0;
    margin: 1em 0;
    padding: 0;
    width: 100%;
    border-top: 2px solid orange;
}

.vcenter {
    display: inline-block;
    height: 100%;
    vertical-align: center;
    width: 0px;
}

h3 {
  font-variant: small-caps;
}

.title {
   font-weight: bold;
}

.sbtn {
  background-color: #23373b;
  color: #fafafa;
  padding-left: 6px;
  padding-right: 6px;
  margin-top: 4px;
  display: inline-block;
}
.sbtn a {
  color: #fafafa;
  font-variant: small-caps;
  font-size: 11pt;
}

.hi {
  /*color: #eb811b;   */
}

hr.full {
    display: block;
    height: 1px;
    border: 0;
    margin: 1em 0;
    padding: 0;
    border-top: 1px solid #eb811b;
}

.conference {
    font-family: monospace, 'Courier New';
    font-size: 90%;
    vertical-align: text-top;
    color: #c46103;
}

.bg {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #dddee0;
    background-color: #fafafa;
    background-image: linear-gradient(0deg, transparent 24%, rgba(64, 64, 64, .05) 25%, rgba(64, 64, 64, .05) 26%, transparent 27%, transparent 74%, rgba(64, 64, 64, .05) 75%, rgba(64, 64, 64, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(64, 64, 64, .05) 25%, rgba(64, 64, 64, .05) 26%, transparent 27%, transparent 74%, rgba(64, 64, 64, .05) 75%, rgba(64, 64, 64, .05) 76%, transparent 77%, transparent);
    background-size: 50px 50px;
    padding: 0;
    margin: 0;
    height: 100%;
}

.large {
    font-size: 2.5em;
    color: black;
    font-weight: bold;
}
