#content {
  background: #F8F8F2;
  position: relative;
  margin: auto;
}

body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 12pt;
  background-color: #F8F8F2;
  color: #272822;
}

.title {
  padding: 24px 0 24px 20%;
  background-color: #23373b;
  color: #fafafa;
  margin: 0 0 1em 0;
}

hr.full {
  display: block;
  height: 1px;
  border: 0;
  margin: 1em 0;
  padding: 0;
  width: 100%;
  border-top: 2px solid orange;
}

.vcenter {
  position: relative;
  float: middle;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.align-right {
  text-align: right;
}
