body {
    font-family: 'Fira Sans', sans-serif;
    font-size: 12pt;
    background-color: #fafafa;
    color: #23373b;
}

.title {
    padding: 24px 0 24px 20%;
    background-color: #23373b;
    color: #fafafa;
    margin: 0 0 1em 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    margin: 1em 0;
    padding: 0;
    border-top: 2px dashed skyblue;
}

hr.full {
    display: block;
    height: 1px;
    border: 0;
    margin: 1em 0;
    padding: 0;
    border-top: 1px solid #eb811b;
}

.conference {
    font-family: monospace, 'Courier New';
    font-size: 90%;
    vertical-align: text-top;
    color: #c46103;
}
